<% provide(:title, 'Index') %>
<% provide(:button_text, '更  新') %>
<% provide(:class_text, 'base_form') %>
<h1>拠点一覧</h1>
<div>
  <table class="table table-bordered table-condensed" id="table-attendances">
    <thead> 
      <tr>
        <th></th>
        <th></th>
        <th>拠点番号</th>
        <th>拠点名</th>
        <th>拠点種類</th>
      </tr>
    
      <% @bases.each do |base| %>
      <tr>
        <th><!-- 修正画面ボタンここから-->
          <div class="panel panel-default collaps">
            <a href="#collapse<%=base.id%>" data-toggle="collapse" class="btn btn-primary">編　集</a>
        <!--<a href="#link<=user.id%>" data-toggle="collapse" class="btn btn-primary">編　集</a>-->
          </div>
          <div id="collapse<%=base.id%>" class="collapse">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <%= render 'base_form', { base: base }%>
              </div>
            </div>
          </div>
          
        </th><!-- 修正画面ボタンここまで-->
        <th><%= link_to "削　除","/bases/#{base.id}", method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %><br></th>
        <th><%= base.id%></th>
        <th><%= base.base_name %></th>
        <th><%= base.base_type %></th>
      </tr>
      <% end %>
    </thead>
  </table>
  <%= link_to "拠点情報追加", new_basis_path, class: "btn btn-primary" %>
 
</div>